html,
body {
    height: 200px;
    width: 420px;
    margin: 0px;
}
div {
    box-shadow: 0 1px 0 #ddd;
    padding: 14px 0px 14px 80px;
}
div img {
    height: 24px;
    position: absolute;
    left: 8px;
}
input {
    border: 0;
    width: 80px;
    line-height: 24px;
    margin-left: 16px;
    outline-color: transparent;
    text-overflow: ellipsis;
    padding-left: 8px;
}
input[type="checkbox"] {
    height: 20px;
    vertical-align: middle;
    width: 20px;
    position: absolute;
    right: 8px;
}
