html,
body {
    height: 200px;
    width: 420px;
    margin: 0px;
}
div {
    border-bottom: 1px solid #ddd;
    padding: 14px 0px 16px 68px;
}
div img {
    height: 24px;
    position: absolute;
    left: 8px;
}
input {
    border: 0;
    width: 80px;
    line-height: 24px;
    margin-left: 24px;
    outline-color: transparent;
    text-overflow: ellipsis;
}
input[type="checkbox"] {
    height: 20px;
    vertical-align: middle;
    width: 20px;
    position: absolute;
    right: 8px;
}
